<div class='container'>
<div class='row'>
  <div class='col-lg-12'>
     <h2>{{title}}</h2>
     <hr/>
     <p>These templates were designed to be as simple as possible. Each is designed with clear cut code that can be easily read both by simply looking at the source code, and with any WYSIWYG HTML editor (like Dreamweaver).</p>
     <p>These are meant to be ready to go websites, and are great ways to learn HTML as well. Each has easy to follow instructions on how to modify them, if more than basic modifications are needed.</p>
  </div>


</div>

</div>
